@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Open+Sans:wght@600&family=Roboto:wght@700&family=Rubik:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
   
}
html{
    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}
body{ height:100vh; margin:0; }

nav{
    background: rgb(238, 80, 80);
    /* overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0; */
   
}
.shadow{
    transition: all 0.3s;
    box-shadow: #c0392b 0px 1px 2px 0px
}
.navbar-brand{
    color: #fff !important;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 5rem;
}
.nav-item{
    padding: 2rem;
}
.nav-item .nav-link{
    color: #fff !important;
    font-weight: bolder;
   

}
#course{
    color: #fff;
    min-height: 570px !important;
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url('./image/courses.jpg');
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#course p{
    font-size: 2rem;
    width: 50%;
    text-align: center;
    padding-top: 2rem;
}
#course button{
    background: #f1c40f;
    color: #000;
    padding: 0.9rem;
    border: none;
    border-radius: 3px;
    transition: all 0.5s;
    text-transform: uppercase;
    animation: mymove 3s infinite;
}
#course button:hover{
    background: #dff9fb;
    color: #000;

}
.aagam-landing-section{
    background: rgb(238, 80, 80);
    min-width: 100%;
    height: 100vh;
    padding-top: 6rem;
}
.aagam-landing-text{
    color: #fff;
    padding-left: 5rem;
   
}
.aagam-landing-text h1{
    font-size: 4rem;
}
.aagam-landing-section button{
    background: #2c3e50;
    color: #fff;
    padding: 0.9rem;
    border: none;
    border-radius: 3px;
    transition: all 0.5s;
    text-transform: uppercase;
    /* animation: mymove 3s infinite */
}

.aagam-landing-section button:hover{
    background: #dff9fb;
    color: #000;

}
.down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.down .fas{
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    padding-top: 5rem;
}
@media (max-width:768px) {
    .aagam-landing-section{
        padding-top: 0;
    }
    .aagam-landing-text h1{
        font-size: 2rem;
    }
    .aagam-landing-section img{
        padding-bottom: 2rem;
        width: 200px;
    }
    .aagam-landing-section button{
        padding: 0.5rem;
    }
    .navbar-brand{
        padding-left: 2rem;
    }
    
}
.lastSection{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 500px;
    background: #000;
    
}
.lastSection h1{
    color: #fff;
}
.lastSection .container{
    width: 50%;

}
.container form{
    width: 70%;
    margin: auto;
}
input[type="text"],input[type="email"] {
    color: #fff;
    background-color : #000; 
    padding: 1rem;
    border-radius: 10px;
  
  }
textarea{
    background: #000 !important;
    border-radius: 10px !important;
}
form .contactButton{
    
    background: #fff;
    color: #000;
    border: none;
    padding: 0.9rem;
    border: none;
    border-radius: 3px;
    transition: all 0.5s;
    text-transform: uppercase;
    width: 30%;
    
}
footer{
    margin-top:auto; 
    background: #000;
    width: 100%;
}
footer p{
    color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}